<div id="weather-alerts" *ngIf="isLocationConfigured()">
  <h4>Unwetterwarnungen
    <button class="btn btn-light" title="Unwetterwarnungen aktualisieren" *ngIf="isLocationConfigured()" (click)="updateAlerts()">
      <fa-icon [icon]="faSyncAlt"></fa-icon>
    </button>
  </h4>
  <div *ngIf="!loading">
    <app-alert *ngFor="let alert of alerts" [weatherAlert]="alert"></app-alert>
    <p *ngIf="alerts.length === 0">Keine Wetterwarnungen vorhanden</p>
  </div>
  <app-loading-spinner [loading]="loading"></app-loading-spinner>
</div>
