<div class="row current-weather" *ngIf="!loading">
  <div *ngIf="weather" class="col-md-1 col-2 weather-icons">
    <img *ngFor="let description of weather.descriptions" [src]="description.iconUrl" [alt]="description.text" [title]="description.text" /><br/>
  </div>
  <div *ngIf="weather" class="col-md-11 col-10" >
    <h2>{{weather.temp}}°C</h2>
    <b class="min-max">{{weather.minTemp}}°C / {{weather.maxTemp}}°C</b><br/>
    <span class="humidity"><b>Luftfeuchtigkeit:</b> {{weather.humidity}}%</span><br/>
    <span class="weather-name">{{weather.location}}</span><br/>
    <span class="weather-date">{{weather.datetime | relativeCalendar}}</span>
  </div>
</div>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
