.forecast-row {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.forecast-list {
  width: 100%;
  overflow:auto;
  white-space:nowrap;
  scroll-behavior: smooth;
  ul {
    padding-left: 0;
    padding-right: 0;
  }
}

.navigate-right {
  position: absolute;
  width: fit-content;
  top: 40px;
  right: 10px;
}

.navigate-left {
  position: absolute;
  width: fit-content;
  top: 40px;
  left: 10px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}
