<div class="row forecast-row" *ngIf="forecasts && !loading">
  <a href="#" class="navigate-left text-dark" (click)="scrollLeft()">
    <fa-icon [icon]="faArrowLeft" title="links"></fa-icon>
  </a>
  <a href="#" class="navigate-right text-dark" (click)="scrollRight()">
    <fa-icon [icon]="faArrowRight" title="rechts"></fa-icon>
  </a>
  <div class="forecast-list" #forecastList>
    <ul>
      <app-forecast-carousel-item [forecast]="forecast" *ngFor="let forecast of forecasts">
      </app-forecast-carousel-item>
    </ul>
  </div>
</div>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
