<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{weatherAlert.headline}}</h5>
    <p class="card-text alert-description">{{weatherAlert.description}}</p>
    <p class="card-text alert-instruction" *ngIf="showInstruction">{{weatherAlert.instruction}}</p>
    <p class="card-text from-to">{{weatherAlert.startDate | relativeCalendar}} bis {{weatherAlert.endDate | relativeCalendar}}</p>
  </div>
</div>
