<div [hidden]="!forecasts || loading" class="forecast-graph">
  <canvas #forecastGraphCanvas id="forecast-graph-canvas"></canvas>
</div>
<app-loading-spinner [loading]="loading"></app-loading-spinner>
