<li class="forecast-item">
  <div class="weather-icons">
    <img *ngFor="let description of forecast.descriptions" [src]="description.iconUrl" [alt]="description.text" [title]="description.text" />
  </div>
  <h2>{{forecast.temp}}°C</h2>
  <b>{{forecast.minTemp}}°C / {{forecast.maxTemp}}°C</b>
  <h5>{{forecast.datetime | relativeCalendar}}</h5>
</li>
