<div class="container">
  <h1>(Un)Wetter</h1>
  <app-weather-overview></app-weather-overview>
  <app-alerts></app-alerts>
  <app-location-selection></app-location-selection>
  <app-messages></app-messages>
</div>

