<div id="weather" *ngIf="isLocationConfigured()">
  <h4>Wetter
    <button class="btn btn-light" title="Wetter aktualisieren" *ngIf="isLocationConfigured()" (click)="updateWeather()">
      <fa-icon [icon]="faSyncAlt"></fa-icon>
    </button>
  </h4>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Aktuell</a>
      <ng-template ngbNavContent>
        <app-current-weather [weather]="weather" [loading]="weatherLoading"></app-current-weather>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Vorhersage</a>
      <ng-template ngbNavContent>
        <app-forecast-carousel [forecasts]="forecasts" [loading]="forecastsLoading"></app-forecast-carousel>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Vorhersage (Graph)</a>
      <ng-template ngbNavContent>
        <app-forecast-graph [forecasts]="forecasts" [loading]="forecastsLoading"></app-forecast-graph>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Regenradar</a>
      <ng-template ngbNavContent>
        <app-weather-map [lat]="getLatitude()" [lon]="getLongitude()"></app-weather-map>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
