<div id="location">
  <h4>Aktueller Standort
    <button class="btn btn-light" (click)="setCurrentLocation()" title="Aktuellen Ort bestimmen">
      <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
    </button>
  </h4>
  <div *ngIf="getLocation()">
    <div class="address" *ngIf="getLocation().address">
      <p class="address-row" *ngIf="getLocation().address.street">{{getLocation().address.street}} {{getLocation().address.houseNumber}}</p>
      <p class="address-row" *ngIf="getLocation().address.city">{{getLocation().address.zipcode}} {{getLocation().address.city}}</p>
      <p class="address-row" *ngIf="getLocation().address.country">{{getLocation().address.country}}</p>
    </div>
    <p class="coordinates-row">L&auml;nge: {{getLocation().coordinates.longitude}}</p>
    <p class="coordinates-row">Breite: {{getLocation().coordinates.latitude}}</p>
  </div>
  <div *ngIf="!getLocation()">
    <p>
      Lege deinen aktuellen Ort fest
      <button class="btn btn-light" (click)="setCurrentLocation()" title="Aktuellen Ort bestimmen">
        <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
      </button>
    </p>
    <p>
      Wir nutzen dafür die Standortbestimmung deines Browsers.
    </p>
  </div>
</div>
